body {
  background-color: white;
}


.drink {
  border: 1px solid lightgrey;
  background: whitesmoke;
}

.drinkname {
  font-size: 32px;
}

.drinkpicture {
  display: inline;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
