body {
  background-color: white;
}


.drink {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  background: whitesmoke;
}

.drinkname {
  font-size: 32px;
}

.drinkpicture {
  display: inline;
  max-height:95px;
  width: auto;
  height: auto;
}

.drinkIngredients {
  display: block;
}

.x {
  color: red;
  opacity: .3;
}

.x:hover {
  color:red;
  opacity:.8;
  cursor: pointer;
}
